<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>top-level-items</key>
	<array>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>79</string>
					<key>StartingColumnNumber</key>
					<string>65</string>
					<key>StartingLineNumber</key>
					<string>78</string>
					<key>Timestamp</key>
					<string>735791506.756827</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>GenericCateringSystem/View/Log In/LogInVC.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>
</string>
				<key>leading</key>
				<string>//        }
        
        if !deviceNameTF.isInputMatch(pattern: "^[\\w\\s]+$") {</string>
				<key>trailing</key>
				<string>            return LogInState.emptyName
        }
        // password cannot be nil
</string>
			</dict>
			<key>title</key>
			<string>see if this work correctly</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>46</string>
					<key>EndingLineNumber</key>
					<string>32</string>
					<key>StartingColumnNumber</key>
					<string>8</string>
					<key>StartingLineNumber</key>
					<string>32</string>
					<key>Timestamp</key>
					<string>735807165.022671</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>GenericCateringSystem/ViewModel/Casher Device/Casher/MenuEditVCViewModel.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>PersistenceService.share.saveContext()</string>
				<key>leading</key>
				<string>            newCategory.name = "empty"
        }
//        </string>
				<key>trailing</key>
				<string>
    }
    
</string>
			</dict>
			<key>title</key>
			<string>for debug, move to save btn </string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>58</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>57</string>
					<key>Timestamp</key>
					<string>735815513.280654</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>GenericCateringSystem/ViewModel/Casher Device/Casher/MenuEditVCViewModel.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>                PersistenceService.share.saveContext()
</string>
				<key>leading</key>
				<string>            newOption.parent = Helper.shared.fetchOption(predicate: NSPredicate(format: "uuid == %@", option! as CVarArg))[0]
        }
</string>
				<key>trailing</key>
				<string>    }

}
</string>
			</dict>
			<key>title</key>
			<string>debug, move to ok btn pressed</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
	</array>
</dict>
</plist>
